<!DOCTYPE html>
<html lang="en">
<head>

    {{template "header" .}}

</head>
<body>

    <div class="container-fluid">
        <div class="menu-container">


            <!--             Main Menu      -->

            <div class="col-md-4 well" id="main-menu">
                <div class="col-row">
                    <h1 class="text-center shake">
                        <i class="fa fa-child" aria-hidden="true"></i> Party Screen <i class="fa fa-child" aria-hidden="true"></i>
                    </h1>
                </div>
                <div class="col-row">
                    <button type="button" id="host-btn"  onclick="show('host-menu'); hide('main-menu')" class="btn menu-btn add-margin-vertical btn-primary center-block"><i class="fa fa-tv" aria-hidden="true"></i> Host Game</button>
                </div>

                <div class="col-row">
                    <button type="button" id="join-btn" onclick="show('join-menu'); hide('main-menu')" class="btn menu-btn add-margin-vertical btn-primary center-block"><i class="fa fa-user-plus" aria-hidden="true"></i> Join Game</button>
                </div>

                <div class="col-row">
                    <button type="button" id="games-btn" onclick="show('game-menu'); hide('main-menu')" class="btn menu-btn add-margin-vertical btn-primary center-block"><i class="fa fa-gamepad" aria-hidden="true"></i> Game List</button>
                </div>

                <div class="col-row">
                    <button type="button" id="info-btn" data-toggle="modal" data-target="#info-modal" class="btn menu-btn add-margin-vertical btn-info center-block"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</button>
                </div>
            </div>

            <!--                Host Game        -->

            <div class="col-md-8 well" id="host-menu" style="display:none">

                {{template "hostmenu" .}}

            </div>





            <!--                Join Game        -->
            <div class="col-md-4 well" id="join-menu" style="display:none">
                {{ template "joinmenu" . }}
            </div>



            <!--          Game Menu            -->
            <div id="game-menu" class="carousel slide" data-interval="0" style="display:none; width: 80%">
                {{ template "gamemenu" . }}
            </div>


            <!--                Loading Screen        -->

            <div class="col-md-4 well" id="loading-menu" style="display:none">
                <div class="loader center-block"></div>
            </div>

        </div>
    </div>

    {{template "modal" .}}


    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/menu.js"></script>
</body>
</html>
