{{define "hostmenu"}}
<div class="col-row" style="width: 100%">
    <div class="col-md-12">
    <button style="margin: 0px;" type="button" class="btn menu-btn main-menu-btn btn-primary" onclick="show('main-menu'); hide('host-menu')"><i class=" fa fa-reply" aria-hidden="true"></i></button>
    <h1 style="margin-top: 0px;" class="text-center shake" >Host a Game</h1>




        <div class="col-md-12">

            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Invalid Game</h3>
                    <p>
                        This is a invalid game. If you try to request a game the does not exist you will get an error.
                    </p>
                    <button onclick="createGame('game1')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>
            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Multi Pong</h3>
                    <p>
                        This is a game of Pong with two players. Author: Connor Brooks
                    </p>
                    <button onclick="createGame('pong')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>
            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Chat Game</h3>
                    <p>
                        This is a test application to makes sure the web sockets are working. It's just a chat room.
                    </p>
                    <button onclick="createGame('chat')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>



        </div>


        <div class="col-md-12">

            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Roll N Rock Racing</h3>
                    <p>
                        This is a racing game.
                    </p>
                    <button onclick="createGame('race')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>
            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Not Pong Shooter</h3>
                    <p>
                        This is a simple shooting game that can play up to four players. Author: Mathew Clark
                    </p>
                    <button onclick="createGame('shooter')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>
            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Fake Game</h3>
                    <p>
                        This is a test application to makes sure the web sockets are working. It's just a chat room.
                    </p>
                    <button onclick="createGame('INALIDISISISI')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>



        </div>


        <div class="col-md-12">

            <div class="col-md-4">

                <div class="col-row">
                    <img src="/static/imgs/pacman.png" class="gamesnapshot center-block">
                </div>
                <div class="col-row">
                    <h3 class="text-center">Trivia Game</h3>
                    <p>
                        This is a trivia game. Author: Jared Prince
                    </p>
                    <button onclick="createGame('trivia')" class="btn btn-block btn-primary">Host</button>
                </div>

            </div>
     
        </div>



    </div>
</div>
{{end}}
