{{define "modal"}}
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modalLabel">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="info-modalLabel">Information</h4>
            </div>
            <div class="modal-body">
                <h2>What is Party Screen?</h2>
                <p>
                    Party Screen allows you to play online multiplayer games, using you smartphone as a controller, while still viewing the game on a separate screen. You can play with your friends or join a random game.
                </p>

                <h2>How to Play</h2>
                <p>
                    In order to host a game, visit this site with the device on which you want to display the game. Choose the host game button and then choose from our selection of games. If you wish to resrict the game to your friends, select the private option. You will be given a code to allow others to join. Select start to begin the game. To join a game, visit the site on your smartphone and select the join button. If you wish to join a specific game, enter the host's code in the space provided. To join a random game, select the game you wish to play and click search. When you are connected to a game, your phone will display the controller for that game. Click on the games button from the main menu to see a desciption of each of the games and learn how to play. Have fun!
                </p>

                <h2>Credits</h2>
                <ul>
                    <li>Christopher Goulet</li>
                    <li>Connor Brooks</li>
                    <li>Matthew Clark</li>
                    <li>Jared Prince</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{end}}

